<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PFAI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #121212; /* Тёмно-серый фон */
            color: #ffffff; /* Белый текст для контраста */
            margin: 0;
            padding: 0;
        }

        .centered_box_first {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .content {
            width: 800px;
            padding: 30px;
            text-align: center;
        }
    </style>
    <script>
        function toggleButton() {
            const inputField = document.getElementById("nameInput");
            const submitButton = document.getElementById("submitButton");
            submitButton.disabled = inputField.value.trim() === "";
        }
    </script>
</head>
<body>
<div style="display: flex; height: 100vh; width: calc(100vw - 480px);">
    {% extends "PFAI/navbar_pfai.html" %}

    {% block content %}
        <div style="display: flex">
        <form style="display: flex" method="post">
            <img src="../../static/img/YandexGPT-lite_img.png" id="img_ai" alt="" width="32" height="32" class="rounded-circle me-2" style="display: inline; margin-left: 290px; margin-top: 5px; z-index: 2">
            <div style="margin-left: 50px;" style="display: inline;">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect01" name="ai" style="width: 200px; background-color: #121212; color: #ffffff; border-color: #00000013; font-weight: 500; transform: scale(1.5);">
                        <option value="YandexGPT-lite">YandexGPT-lite</option>
                        <option value="YandexGPT-pro">YandexGPT-Pro</option>
                        <option value="Llama-8b">Llama-8b</option>
                        <option value="Llama-70b">Llama-70b</option>
                    </select>
                    <p id="textOutput"></p>
                </div>
            </div>

            <div class="centered_box_first" id="form_input" style="margin-left: 500px">
                <div class="content">
                    <form method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="prompt" id="input_request" class="form-control"
                                   placeholder="Запрос в {{ ai_name }}..."
                                   aria-label="Recipient's username"
                                   aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2" disabled>Send ^
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </form>
        <script>
            const select_ai = document.getElementById('inputGroupSelect01');
            const inp_req = document.getElementById('input_request');
            const form_input = document.getElementById('form_input');
            const img_ai = document.getElementById('img_ai');
            const butt_req = document.getElementById('button-addon2')
            const screenWidth_request = window.innerWidth;
            if (screenWidth_request !== 2560) {
                form_input.style["margin-left"] = (500 * (screenWidth_request / 2560)) - 330 + "px";
            }
            const centered_box_first = document.querySelectorAll('.centered_box_first');
            inp_req.placeholder = `Запрос в ${select_ai.value}...`;
            img_ai.src = `../../static/img/${select_ai.value}_img.png`;
            select_ai.addEventListener('input', (event) => {
                inp_req.placeholder = `Запрос в ${select_ai.value}...`;
                img_ai.src = `../../static/img/${select_ai.value}_img.png`;
            });
            window.addEventListener('resize', (event) => {
                const screenWidth_request = window.innerWidth;
                if (screenWidth_request !== 2560) {
                    form_input.style["margin-left"] = (500 * (screenWidth_request / 2560)) - 330 + "px";
                } else {
                    form_input.style["margin-left"] = "500px";
                }
            });

            inp_req.addEventListener('input', (event) => {
                if (inp_req.value !== "") {
                    butt_req.disabled = false;
                } else {
                    butt_req.disabled = true;
                }
            });
    </script>
    {% endblock %}
    </div>
</div>
</body>
</html>