{% extends "navbar.html" %}

{% block content %}
<img src="static/img/islands-200.png" style="float: right;margin-top: 35px;margin-right: 25px;">
<h1 style="margin-left: 50px;font-family: 'Playfair Display', serif;font-size: 56px;margin-top: 50px;">
    "Не суть, главная цитата"
</h1>
<h3 style="margin-left: 55px;margin-top: 5px;">
    Проекты студии:
</h3>
<button type="button" class="btn btn-dark" onclick="window.location='/russian_memory'" style="margin-left: 55px; --bs-btn-padding-y: 15px; --bs-btn-padding-x: 40px;font-weight: bold;">Russian Memory</button>
<br>
<button type="button" class="btn btn-dark" onclick="window.location='/ai_platform'"
        style="margin-left: 55px; --bs-btn-padding-y: 15px; --bs-btn-padding-x: 94.5px;font-weight: bold;margin-top: 10px;">
    AI
</button>
{% endblock %}
