<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Troind box</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            margin: 0;
            font-family: Arial;
        }

        .centered-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #f5f5f5;
        }

        .content {
            width: 300px;
            padding: 30px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    </style>
</head>
<body>
<div class="centered-box">
    <div class="content">
        <h1>Регистрация</h1>
        <p>Заполните все поля, чтобы создать новый аккаунт.</p>

        <!-- форма регистрации -->
        <form action="" method="post">
            <!-- поле ввода имени -->
            {% block content %}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-control", type="email") }}<br>
                    {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.password_again.label }}<br>
                    {{ form.password_again(class="form-control", type="password") }}<br>
                    {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                {{message}}
            </form>
            {% endblock %}
            <!-- вход для тех, у кого уже есть аккаунт -->
            <p>Уже зарегистрированы? <a href="/login">Войдите в систему</a>.</p>
        </form>
    </div>
</div>
</body>
</html>